# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/node_modules
web/.pnp
web.pnp.*
web.yarn/*
!.web.yarn/patches
!.web.yarn/plugins
!.web.yarn/releases
!.web.yarn/versions
.next/


# next.js
web/.next/
web/out/

# production
web/build

# debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
web/.env*

# vercel
web/.vercel

# typescript
web/*.tsbuildinfo
web/next-env.d.ts


rag/.venv/
rag/__pycache__/
rag/data/chroma/
rag/playwright-report/
rag/app/__pycache__/

rag/logs/ingest-opac-*.log
rag/logs/

